.containerNewTask {
    width: 100%;
    max-width: 441px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 2px solid black;
    flex: 60%;
    background-color: rgba(255,255,255, 1);
    box-shadow: 0px 2px 50px rgba(94,123,154, .7);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.toDo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

    &__h2 {
        color: rgba(94,123,154, .7);
    }

    &__label {
        align-self: start;
        font-weight: 700;
        font-size: 1.1em;
        color: rgba(94,123,154, .7);
        margin-bottom: 5px;
    }

    &__input {
        padding: 15px 10px;
        background-color: rgba(255,233,233, 1);
        border-radius: 8px;
        width: 90%;
        outline: none;
        font-weight: bold;

        &::placeholder {
            font-weight: bold;
        }

        &:active {
            color: rgba(94,123,154, .7);
        }
    }

    &__submit {
        background-color: rgba(94,123,154, .7);
        padding: 10px;
        margin: 10px 0;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        align-self: start;
        font-weight: bold;
    }

    &__figure {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    &__img {
        width: 100%;
        margin-bottom: 0;
        margin-bottom: -95px;
        mix-blend-mode: multiply;

    }

}